<h1>Add a Doctor</h1>

<div class="container">
  <form action="/doctors" method="post">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" name="name" placeholder="e.g. Doctor Dante">
    </div>

    <div class="form-group">
      <label for="specialty">Specialty</label>
      <input type="text" name="specialty" placeholder="e.g. The Seven Illnesses">
    </div>

    <button class="btn btn-primary btn-lg active">Add Doctor</button>
  </form>
</div>
