<h1>Hello Friendo</h1>

<a href="/doctors" class="btn btn-primary btn-lg active" role="button">View Doctors</a>
<a href="/doctors/new" class="btn btn-default btn-lg active" role="button">Add a Doctor</a>
