<h1>Your Patients</h1>

<a href="/doctors/<%= @doctor_id %>" class="btn btn-primary btn-lg active" role="button">View Patients</a>
<a href="/doctors/<%= @doctor_id %>/new" class="btn btn-default btn-lg active" role="button">Add a Patient</a>
